server:
  port: 8222

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: workforce-service
          uri: lb://WORKFORCE-EQUIPMENT-SERVICE
          predicates:
            - Path=/api/maintenance-logs/**,/api/equipment-assignments/**,/api/equipment-types/**,/api/equipments/**,/api/workers/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
